<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <script>
      function Check() {
        window.location.href = '/home'
      }
    </script>
  </head>
  <body onload="Check()">
    <h1>
      ERROR!
    </h1>
    <h5 class="JS">
      Code: 401 <br>
      Name: Missing Permission <br>
      Required: JAVASCRIPT <br>
      Fix: Please enable javascript to continue! <br>
      Try Again: REFRESH PAGE <br>
    </h5>
    <footer> Copyright 2018 - All Rights Reserved. Website Created by Wyatt Lipscomb. </footer>
  </body>
</html>