<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body onload="">
    <header> [ CRAZONIX ] </header>
    <div class="Join">
      <h1>
        How to Join
      </h1>
      <h3>
        IP: crazonix.net
        <br>
        <br>
        From the main menu, Select MULTIPLAYER <br>
        Then select "ADD SERVER" <br>
        Enter Crazonix as the name, <br>
        Then enter Crazonix.net as the IP address. <br>
        After you create, Craznoix Server, <br>
        And join it! <br>
        <br>
        IP: crazonix.net
      </h3>
      <div class="Staff">
        <h1>
          Staff
        </h1>
        <button onclick="Staff('CrazyCow30')">
          CrazyCow30
        </button>
        <br>
        <button onclick="Staff('Kawaiitqnk')">
          Kawaiitqnk
        </button>
        <br>
        <button onclick="Staff('DrewsmV4')">
          DrewsmV4
        </button>
      </div>
    </div>
    <footer> Copyright 2018 - All Rights Reserved. Website Created by Wyatt Lipscomb. </footer>
  </body>
</html>
